# Python virtual environment
venv/
__pycache__/

# Environment variables
.env

# Video files
*.mkv
*.mp4
*.avi
*.mov
*.flv
*.wmv
*.webm
*.mpg
*.mpeg
*.m4v
*.3gp
*.3g2
*.ogv

# Audio files
*.mp3
*.wav
*.flac
*.m4a
*.aac
*.ogg
*.wma
*.aiff
*.au

# Generated transcription files
transcription_*

# Output files
outputs/
