# Python virtual environment
venv/
__pycache__/
lib64
pyvenv.cfg
bin/
site-packages/
*-completion/
**/share/doc/
**/share/**/vendor_completions.d/
**/share/zsh/
**/share/man/

# Environment variables
.env

# Video files
*.mkv
*.mp4
*.avi
*.mov
*.flv
*.wmv
*.webm
*.mpg
*.mpeg
*.m4v
*.3gp
*.3g2
*.ogv

# Audio files
*.mp3
*.wav
*.flac
*.m4a
*.aac
*.ogg
*.wma
*.aiff
*.au

# Generated transcription files
transcription_*
transcriptions/

# Output files
outputs/
